/* reset by mayer */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1; } 
ol, ul {list-style: none; }
blockquote, q {quotes: none; }
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none; }
table {border-collapse: collapse; border-spacing: 0; }

/* top bar */
.topbar{
	background: #c4d32e; 
	background: -moz-linear-gradient(left,  #c4d32e 0%, #c4d32e 13%, #d84b93 13%, #d84b93 25%, #199fcd 25%, #199fcd 37%, #efd314 37%, #efd314 49%, #aa6aaa 49%, #aa6aaa 61%, #6dcacd 61%, #6dcacd 73%, #ee4238 73%, #ee4238 85%, #f48f21 85%, #f48f21 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#c4d32e), color-stop(12%,#c4d32e), color-stop(12%,#d84b93), color-stop(25%,#d84b93), color-stop(25%,#199fcd), color-stop(37%,#199fcd), color-stop(37%,#efd314), color-stop(47%,#efd314), color-stop(47%,#aa6aaa), color-stop(62%,#aa6aaa), color-stop(62%,#6dcacd), color-stop(73%,#6dcacd), color-stop(74%,#ee4238), color-stop(86%,#ee4238), color-stop(86%,#f48f21), color-stop(100%,#f48f21));
	background: -webkit-linear-gradient(left,  #c4d32e 0%,#c4d32e 13%,#d84b93 13%,#d84b93 25%,#199fcd 25%,#199fcd 37%,#efd314 37%,#efd314 49%,#aa6aaa 49%,#aa6aaa 61%,#6dcacd 61%,#6dcacd 73%,#ee4238 73%,#ee4238 85%,#f48f21 85%,#f48f21 100%); 
	background: -o-linear-gradient(left,  #c4d32e 0%,#c4d32e 13%,#d84b93 13%,#d84b93 25%,#199fcd 25%,#199fcd 37%,#efd314 37%,#efd314 49%,#aa6aaa 49%,#aa6aaa 61%,#6dcacd 61%,#6dcacd 73%,#ee4238 73%,#ee4238 85%,#f48f21 85%,#f48f21 100%); 
	background: -ms-linear-gradient(left,  #c4d32e 0%,#c4d32e 13%,#d84b93 13%,#d84b93 25%,#199fcd 25%,#199fcd 37%,#efd314 37%,#efd314 49%,#aa6aaa 49%,#aa6aaa 61%,#6dcacd 61%,#6dcacd 73%,#ee4238 73%,#ee4238 85%,#f48f21 85%,#f48f21 100%);
	background: linear-gradient(to right,  #c4d32e 0%,#c4d32e 13%,#d84b93 13%,#d84b93 25%,#199fcd 25%,#199fcd 37%,#efd314 37%,#efd314 49%,#aa6aaa 49%,#aa6aaa 61%,#6dcacd 61%,#6dcacd 73%,#ee4238 73%,#ee4238 85%,#f48f21 85%,#f48f21 100%);
	width: 100%; height: 2px;}

/* Helpers */
.col{max-width: 1170px; margin: auto;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; } 

/* Colors and bgs */
header{background: #3a3835; color: #efd314;}
header a{color: #efd314;}
.menu{background: #282828;}
.menu a{color: #c5c6c6;}
#featured{background: #33322d; color: #c5c6c6;}
#services{background: #e5e3da; color: #3a3935;}
#projects{background: #a1628e; color: #FFF;}
#education{background: #62b1a9; color: #FFF;}
#contact{background: #5a5a59; color: #c5c6c6;}
footer{background: #3a3835;color: #c5c6c6;}

/* Tipography */
h1 a{font:700 30px/48px 'Source Sans Pro', sans-serif; letter-spacing: -1px; text-decoration: none;}
h2{font:700 26px 'Source Sans Pro', sans-serif; text-align: center;}
h3{font:700 18px 'Source Sans Pro', sans-serif; text-align: center;}
p, li{font:14px/16px arial; padding-bottom: 10px;}
.menu a{font:17px 'Source Sans Pro', sans-serif; text-decoration: none;}
.btn{font:700 20px/63px 'Source Sans Pro', sans-serif;}

/* Iconography */
header .fr li a, .arrow{border-radius: 50%; width: 39px; height: 39px; border: 1px solid #c4c5c6;text-indent: -999px;overflow: hidden;display: block; background: url('../img/sprite.png') no-repeat}
header .fr li a:hover, header .fr li a.ativo{border-color: #efd314;}
header .fr li .twitter{background-position: 7px 10px;}
header .fr li .twitter:hover{background-position: 7px -113px;}
header .fr li .fb{background-position: 12px -237px;}
header .fr li .fb:hover{background-position: 12px -361px;}
header .fr li .openMenu{background-position: 8px -981px;}
header .fr li .openMenu:hover, header .fr li .openMenu.ativo{background-position: 8px -1105px;}
header .fr li {float: left; display: inline-block; padding-left: 5px;}

/* Header */
header{padding: 30px 0;}

/* Menu */
.menu { height: 0px; transition: height 0.7s linear; overflow: hidden;}
.menu.open{ height: 64px;}
.menu li{float: left; border-left: 1px solid #3a3935; text-align: center; width: 16%; display: inline-block; padding: 20px 0;}
.menu li:first-child{border: none;}

/* Featured */
#featured{padding: 50px 30px; text-align: center;}
#featured h2{margin-bottom: 30px;}
.btn{background: url(../img/sprite.png) no-repeat -11px -1216px; color: #4d4408; text-decoration: none; display: inline-block; width: 220px; height: 63px; text-align: center; margin: 15px auto;}
.arrow{background-position: 8px -483px; margin: auto}

/* Services */
#services {padding: 50px 0;}
#services h2{text-align: center; padding: 0 0 10px;}
#services h3{padding: 10px 0;}
.servicos li{float: left; width: 16.5%; -webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box; padding: 0 10px; }
.servicos li .ico{display: block;margin: auto; overflow: hidden; background: url(../img/sprite.png) no-repeat; min-height: 90px; margin-bottom: 5px;}
.servicos .design .ico{background-position: -2px -582px; width: 100px;height: 78px;}
.servicos .webdev .ico{background-position: -2px -1328px; width: 97px;height: 59px;}
.servicos .responsivo .ico{background-position: -2px -830px; width: 47px; height: 78px;}
.servicos .crossbrowser .ico{background-position:  0 -2088px; width: 87px;height: 90px;}
.servicos .wp .ico{background-position: 0 -701px; width: 77px; height: 77px;}
.servicos .emailmkt .ico{background-position: -2px -1451px; width: 79px; height: 79px;}

/* Projects */
#projects{padding: 50px 0;}
#projects h2{text-align: center; padding-bottom: 50px;}
#projects li{float: left;}
.carrossel{position: relative;}
.before{background: url(../img/sprite.png) no-repeat -2px -1579px;width: 45px;height: 81px;position: absolute; top: 34%; left: -20px; text-indent: -999px;overflow: hidden; cursor: pointer;}
.after{background: url(../img/sprite.png) no-repeat -2px -1703px;width: 45px;height: 81px;position: absolute; top: 34%; right: -20px; text-indent: -999px;overflow: hidden; cursor: pointer;}
.carrossel ul{position: relative;margin-left: 0px;}
#projects a{display: block; width: 270px; height: 220px; float: left; text-align: center; background-color: RGBA(0,0,0,0.5); margin: 3px 3px; color: #000; position: relative; text-decoration: none;}
.projeto span{opacity: 0; -webkit-transition:opacity 0.5s; -moz-transition:opacity 0.5s; transition:opacity 0.5s;
display: table-cell;position: relative;top: 0;left: 0;background: RGBA(0,0,0,0.5);
color: #FFF;line-height: 25px;height: 190px;vertical-align: middle;z-index: 2; padding: 15px;}
.projeto:hover span{opacity: 1;}
.box{display: none;}

.clickon{background: url(../img/clickon.jpg) 0 0 no-repeat;}
.dudi{background: url(../img/dudi.jpg) 0 0 no-repeat;}
.ddmn{background: url(../img/ddmn.jpg) 0 0 no-repeat;}
.hml{background: url(../img/hml.jpg) 0 0 no-repeat;}
.animalshow{background: url(../img/animalshow.jpg) 0 0 no-repeat;}
.contos{background: url(../img/contos.jpg) 0 0 no-repeat;}
.resenhas{background: url(../img/textos.jpg) 0 0 no-repeat;}
.lecestino{background: url(../img/lecestino.jpg) 0 0 no-repeat;}
.marcandolivro{background: url(../img/marcandolivro.jpg) 0 0 no-repeat;}
.qgnet{background: url(../img/qg-net.jpg) 0 0 no-repeat;}
.mrp{background: url(../img/mrp.jpg) 0 0 no-repeat;}
.momsaga{background: url(../img/momsaga.jpg) 0 0 no-repeat;}
.cet{background: url(../img/cet.jpg) 0 0 no-repeat;}
.estado{background: url(../img/estado.jpg) 0 0 no-repeat;}

.clickon:hover{background: url(../img/clickon-hover.jpg) 0 0 no-repeat;}
.dudi:hover{background: url(../img/dudi-hover.jpg) 0 0 no-repeat;}
.ddmn:hover{background: url(../img/ddmn-hover.jpg) 0 0 no-repeat;}
.hml:hover{background: url(../img/hml-hover.jpg) 0 0 no-repeat;}
.animalshow:hover{background: url(../img/animalshow-hover.jpg) 0 0 no-repeat;}
.contos:hover{background: url(../img/contos-hover.jpg) 0 0 no-repeat;}
.resenhas:hover{background: url(../img/textos-hover.jpg) 0 0 no-repeat;}
.lecestino:hover{background: url(../img/lecestino-hover.jpg) 0 0 no-repeat;}
.marcandolivro:hover{background: url(../img/marcandolivro-hover.jpg) 0 0 no-repeat;}
.qgnet:hover{background: url(../img/qg-net-hover.jpg) 0 0 no-repeat;}
.mrp:hover{background: url(../img/mrp-hover.jpg) 0 0 no-repeat;}
.momsaga:hover{background: url(../img/momsaga-hover.jpg) 0 0 no-repeat;}
.cet:hover{background: url(../img/cet-hover.jpg) 0 0 no-repeat;}
.estado:hover{background: url(../img/estado-hover.jpg) 0 0 no-repeat;}